<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/about.css">
</head>
<body>
    <ul>
        <li>
          <a href="https://twitter.com/YashBahekar"
            ><img src="/images/icons/twitter.png" alt="Twitter Logo"
          /></a>
        </li>
        <li>
          <a href="https://in.linkedin.com/in/yash-bahekar-025151220"
            ><img src="/images/icons/linkedin.png" alt="linkedin Logo"
          /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/yash__bahekar/"
            ><img src="/images/icons/insta.png" alt="Instagram Logo"
          /></a>
        </li>
        <li>
          <a href="https://www.facebook.com"
            ><img src="/images/icons/facebook.png" alt="Facebook Logo"
          /></a>
        </li>
      </ul>
</body>
</html>