<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDIAN ARMED FORCES</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/shared.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Playfair+Display:ital,wght@1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="main-header">
      <div id="home-logo">
        <a href="index">Indian Armed Forces</a>
      </div>
      <nav>
        <ul class="nav">
          <li><a href="index">Home</a></li>
          <li>
            <a href="#highlights">Services</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <img
          id="main-logo"
          src="/images/icons/main-logo.jpg"
          alt="Indian Armed Forces Logo, HD Png Download@kindpng.com"
        />
      </section>

      <section id="highlights">
        <h2>Indian Armed Forces</h2>
        <ul id="destinations">
          <li class="destination">
            <a class="force-link" href="air">
              <img
                src="/images/forces/1330355.jpg"
                alt="Miami Streets on sunny day"
              />
            </a>
            <p>Indian <strong>Air-Force</strong></p>
          </li>
          <li class="destination">
            <a class="force-link" href="navy">
              <img src="/images/forces/2016646.jpg" alt="Munich Sunset" />
            </a>
            <p>Indian <strong>Navy</strong></p>
          </li>
          <li class="destination">
            <a class="force-link" href="army">
              <img
                src="/images/forces/india-flag-2644512.jpg"
                alt="Barcelona beach"
              />
            </a>
            <p>Indian <strong>Army</strong></p>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li>
          <a href="https://twitter.com/YashBahekar"
            ><img src="/images/icons/twitter.png" alt="Twitter Logo"
          /></a>
        </li>
        <li>
          <a href="https://in.linkedin.com/in/yash-bahekar-025151220"
            ><img src="/images/icons/linkedin.png" alt="linkedin Logo"
          /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/yash__bahekar/"
            ><img src="/images/icons/insta.png" alt="Instagram Logo"
          /></a>
        </li>
        <li>
          <a href="https://www.facebook.com"
            ><img src="/images/icons/facebook.png" alt="Facebook Logo"
          /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
